.contact_header{
  width:100vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.contact_info{
  display: flex;
}
.signin_container{
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  width:20rem;
  border: 2px solid grey;
  border-radius: 1.5rem;
}
.signup_container{
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  width:20rem;
  border: 2px solid grey;
  border-radius: 1.5rem;

}
.contactus_container{
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  width:30rem;
  border: 2px solid grey;
  border-radius: 1.5rem;

}
ul li{
  margin:1rem
}
ul li:hover{
  transform: scale(1.2);
  color: rgb(54, 102, 7);
  text-decoration: underline;
}
.footer{
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
}